body, html { margin: 0; padding: 0; overflow: hidden; }

canvas { 
    background: #ffffff; 
    display: block;
    touch-action: none; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none; 
}